@{
    ViewData["Title"] = "Authors";
}

<h1><i class="bi bi-person-lines-fill"></i> Authors</h1>

<form asp-action="Index" method="Get">
    <div class="form-row align-items-center">
        <div class="col-md-6">
            <input type="text" name="searchString" class="form-control" placeholder="Search literature..." aria-describedby="button-addon2">
        </div>
        <div class="col-md-4">
            <input type="submit" value="Search" id="button-addon2" class="btn btn-secondary mb-auto" />
        </div>
    </div>
</form>
<div class="form-row align-items-center col-md-8" style="margin-left: -17px; padding-top: 26px; height: auto;">
    <partial name="AuthorPartial" />
</div>