@{
    ViewData["Title"] = "Authors";
}

<h1>Authors</h1>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/literature.js"></script>
<link href="~/css/literature.css" rel="stylesheet" />
@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<form asp-action="Index">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchString" placeholder="Search author..." />
        <span class="form-clear d-none"><i class="material-icons">clear</i></span>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">Search</i></button>
        </div>
    </div>
</form>
<partial name="AuthorPartial" />