

<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" asp-area="" asp-controller="Student" asp-action="Index">My Space </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Student" asp-action="ModulesList">Modules</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="LiteraturesStudent" asp-action="">Literatures</a>
    </li>
</ul>
