

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" asp-area="" asp-controller="" asp-action="">My Space <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Courses" asp-action="Index">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">User</a>
            </li>
            @*<li class="nav-item">
                 <a class="nav-link" asp-area="" asp-controller="" asp-action="">Literatures</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="" asp-action="">Documents</a>
            </li>*@
        </ul>

    