

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">My Space <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="products.html">Modules</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="contacts.html">Literatures</a>
            </li>
        </ul>
