

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" asp-area="" asp-controller="Student" asp-action="Index">My Space </a>
            </li>
           
        </ul>
