<ul class="nav nav-tabs">
    <li class="nav-item">
        <button class="nav-link assignment-tab active" id="assignments-all" href="#">All</button>
    </li>
    <li class="nav-item">
        <button class="nav-link assignment-tab" id="assignments-upcoming" href="#">Upcoming</button>
    </li>
    <li class="nav-item">
        <button class="nav-link assignment-tab" id="assignments-overdue" href="#">Overdue</button>
    </li>
    <li class="nav-item">
        <button class="nav-link assignment-tab" id="assignments-submitted" href="#">Submitted</button>
    </li>
</ul>