@model LMSG3.Core.Models.ViewModels.AssignmentUploadViewModel

<form method="post" asp-controller="Student" asp-action="Upload" enctype="multipart/form-data">

    @Html.AntiForgeryToken()
    <div class="form-group">
        <input type="hidden" asp-for="@Model.ActivityId" />
        <h5 class="modal-title" id="assignmentModalLabel">@Model.ActivityName</h5>
        <div class="modal-body">
            <p>Deadline: @Model.EndDate</p>
            <input type="file" name="incomingFile" />
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </div>
</form>