@model CreateModelListViewModel

<div id="ModuleSetDiv" class="row">

    <div class="col-sm-2 target">
        <div class="form-group">

            Name :

            <input class="form-control text-box single-line" data-val="true" id="ModuleName" type="text" autocomplete="off">
        </div>

    </div>
    <div class="col-sm-3 target">
        <div class="form-group ">

            Description  :

            <input class="form-control text-box single-line" data-val="true" id="ModuleDescription" type="text" autocomplete="off">

        </div>

    </div>

    <div class="col-sm-3 target">
        <div class="form-group">

            Start Date :

            <input type="date" class="form-control single-line" data-val="true" id="ModuleStartDate" autocomplete="off">
        </div>
    </div>
    <div class="col-sm-3 target">
        <div class="form-group">

            End Date :

            <input type="date" class="form-control single-line" data-val="true" id="ModuleEndDate" autocomplete="off">
        </div>
    </div>
    <div class="col-sm-1 target">

        <br />
        <button id="Btn_DeleteModuleset" type="submit" class="btn btn-danger"> <b>-</b></button>

    </div>
</div>  