@model CreateModelListViewModel

<div id="ModuleSetDiv" class="row">

    <div class="col-sm-2 target">
        <div class="form-group">

            Name :

            <input asp-for="Name" class="form-control text-box single-line" data-val="true" id="ModuleName" type="text" autocomplete="off">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

    </div>
    <div class="col-sm-3 target">
        <div class="form-group ">

            Description  :

            <input asp-for="Description"  class="form-control text-box single-line" data-val="true" id="ModuleDescription" type="text" autocomplete="off">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

    </div>

    <div class="col-sm-3 target">
        <div class="form-group">

            Start Date :

            <input asp-for="StartDate" type="date" class="form-control single-line" data-val="true" id="ModuleStartDate" autocomplete="off">
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-sm-3 target">
        <div class="form-group">

            End Date :

            <input asp-for="EndDate" type="date" class="form-control single-line" data-val="true" id="ModuleEndDate" autocomplete="off">
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-sm-1 target">

        <br />
        <button id="Btn_DeleteModuleset" type="submit" class="btn btn-danger"> <b>-</b></button>

    </div>
</div>  