@model CreateCourseViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Course</h4>
<hr />

    

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            Name
            <input asp-for="Name" class="form-control text-box single-line" data-val="true" id="CourseName" type="text" autocomplete="off" style="width:70%">
            @*<input asp-for="Name" id="CourseName" class="form-control" />*@
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            StartDate
            <input asp-for="StartDate" class="form-control text-box single-line" data-val="true" id="CourseStartDate" type="date" autocomplete="off" style="width:70%">
            @*<input asp-for="StartDate" id="CourseStartDate" class="form-control" />*@
           <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            Description
            <input asp-for="Description" class="form-control text-box single-line" data-val="true" id="CourseDescription" type="text" autocomplete="off" style="width:70%">
            @*<input asp-for="Description" class="form-control" />*@
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
</div>
    @* //first way adding row from js
        <div class="form-content">
        Add Modules
        <button id="Btn_AddModuleset" class="btn btn-info"> + </button>
    </div>*@
  

<div class="form-content">
   _____ Add Modules_____
    <div class="form-content">
        <br /><button id="Btn_AddModuleset" class="btn-info"> + </button>
    </div>
    <div class="panel panel-default">
        <div class="featured-box featured-box featured-box-dark featured-box-text-left jquery_accordion_content">


            <div class="container ">

                @*second method adding partial view from controller and javascript*@
                <div class="ModulesListSet">

                </div>

            </div>


        </div>
    </div>
</div>



        <br />

        <div class="col-sm-12 text-right">


            <input type="button" id="BtnCreate" class="btn btn-primary" value="Create Course" /> &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-danger" asp-action="Index">Cancel</a>

        </div>


   

    @*<div>

        <button id="BtnCreate" type="submit" class="btn btn-primary"> Create Course </button> &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-danger" asp-action="Index">Cancel</a>
    </div>*@




<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
