@model IndexCourseViewModel

<p>
    <br />
<a asp-action="Create" asp-controller="Courses" class="m-2">Add New Course</a>
        
</p>
<table data-toggle="table"
       data-classes="table table-hover table-condensed table-striped"
       data-striped="true"
       data-sort-order="desc"
       data-sort-name="Name"
       data-pagination="true"
       data-page-list="[5,10,20,ALL]"
       data-page-size="20">

    <thead class="thead-dark">
        <tr>
            <th class="col-1">
            </th>
            <th class="col-3" data-sortable="true">
                @Html.DisplayNameFor(model => model.CoursesList.FirstOrDefault().Name)
            </th>
            <th class="col-3" data-sortable="true">
                @Html.DisplayNameFor(model => model.CoursesList.FirstOrDefault().StartDate)
            </th>

            <th class="col-2 text-center" data-sortable="true">
                @Html.DisplayNameFor(model => model.CoursesList.FirstOrDefault().Participants)
            </th>
            <th class="col-3"></th>
        </tr>
    </thead>
    <tbody>
        <partial name="CourseListPartial" model="@Model.CoursesList" />
    </tbody>
</table>
