@model IndexCourseViewModel

<p>
    <div class="row">
        <div class="col-md-3">
            <a asp-action="Create" asp-controller="Courses">Add New Course</a>
        </div>
        @*<div class="col-md-3">
            <a asp-action="Create" asp-controller="Modules">Add New Module</a>
        </div>*@
        </div>
        
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="col-1">
               
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.CoursesList.FirstOrDefault().Name)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.CoursesList.FirstOrDefault().StartDate)
            </th>
            <th class="col-5">
                @Html.DisplayNameFor(model => model.CoursesList.FirstOrDefault().Description)
            </th >
            <th class="col-2"></th>
        </tr>
    </thead>
    <tbody>
        <partial name="CourseListPartial" model="@Model.CoursesList" />
    </tbody>
</table>
