@model LMSG3.Core.Models.Dtos.LiteratureDto
@inject LMSG3.Web.Services.ILiteratureSelectService service


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<link href="~/css/bootstrap-form-validation.css" rel="stylesheet" />

<h4>Create </h4>
<hr />
<div class="clearfix">
    <form asp-action="CreateLiterature" asp-controller="Literatures" method="post" data-toggle="validator" novalidate="true">
        <div class="box" style="background-color:#fff">
            <p>Literature</p>
            <hr class="rounded">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" required="required" data-error="Please enter a title." onclick="CleareTitleSpan()" />
                <div class="help-block with-errors"></div>
                <span asp-validation-for="Title" name="titleSpan" id="titleSpan" class="text-danger">@ViewBag.ErrorMessage</span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea class="form-control" asp-for="Description" rows="3" required="required" data-error="Please enter a description."></textarea>
                <div class="help-block with-errors"></div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label">Release date</label>
                <input asp-for="ReleaseDate" id="datepicker4" class="form-control" placeholder="YYYY-MM-DD" required="required" data-error="Please enter a valid date." />
                <div class="help-block with-errors"></div>
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubId" class="control-label">Subject</label>
                <select asp-items="@await service.GetLiteraturesSubjects()" asp-for="SubId" class="custom-select mr-sm-2" style="font-size:medium" required="required" data-error="Please select a subject." name="SubId">
                    <option selected="selected" value="">Please select</option>
                </select>
                <div class="help-block with-errors"></div>
                <span asp-validation-for="SubId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiteraLevelId" class="control-label">Level</label>
                <select asp-items="@await service.GetLiteratureLeves()" asp-for="LiteraLevelId" style="font-size:medium" class="custom-select mr-sm-2" required="required" data-error="Please select a level." name="LiteraLevelId">
                    <option selected="selected" value="">Please select</option>
                </select>
                <div class="help-block with-errors"></div>
                <span asp-validation-for="LiteraLevelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiteraTypeId" class="control-label">Type</label>
                <select asp-items="@await service.GetLiteraturesTypes()" asp-for="LiteraTypeId" style="font-size:medium" class="custom-select mr-sm-2" required="required" data-error="Please select a type." name="LiteraTypeId">
                    <option selected="selected" value="">Please select</option>
                </select>
                <div class="help-block with-errors"></div>
                <span asp-validation-for="LiteraTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">Save</button>
            </div>
            <div>
                <a asp-action="Index" title="Back to List"> <i class="bi bi-arrow-return-left" style="font-size:36px;"></i></a>
            </div>
        </div>
        <div class="box" style="background-color:#fff">
            <p>Authors</p>
            <hr class="rounded">
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input name="FirstName" class="form-control" required="required" data-error="Please enter a first name" />
                <span class="text-danger"></span>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input name="LastName" class="form-control" required="required" data-error="Please enter a last name" />
                <div class="help-block with-errors"></div>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date of birth</label>
                <input name="DateOfBirth" id="datepicker1" class="form-control" placeholder="YYYY-MM-DD" required="required" data-error="Please enter a valid date." />
                <div class="help-block with-errors"></div>
                <span class="text-danger"></span>
            </div>
            <button type="button" class="btn btn-outline-Dark" id="firstPlusIcon" style="visibility:visible" onclick="showHideAuthors(1)"><i class="bi bi-plus-square-fill"></i></button>

            <div id="secondAuthor" name="secondAuthor" style="visibility:hidden">
                <div class="form-group">
                    <hr class="rounded">
                    <label class="control-label">First Name</label>
                    <input name="FirstName" class="form-control" />
                    <div class="help-block with-errors"></div>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input name="LastName" class="form-control" />
                    <div class="help-block with-errors"></div>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Date of birth</label>
                    <input name="DateOfBirth" id="datepicker2" class="form-control" placeholder="YYYY-MM-DD" />
                    <div class="help-block with-errors"></div>
                    <span class="text-danger"></span>

                </div>
                <button type="button" class="btn btn-outline-Dark" id="secondPlusIcon" style="visibility:hidden" onclick="showHideAuthors(2)"><i class="bi bi-plus-square-fill"></i></button>
                <button type="button" class="btn btn-outline-Dark" id="firstMinusIcon" style="visibility:hidden" onclick="showHideAuthors(-1)"> <i class="bi bi-file-minus-fill"></i></button>
            </div>
            <div id="thirdAuthor" name="thirdAuthor" style="visibility:hidden">
                <div class="form-group">
                    <hr class="rounded">
                    <label class="control-label">First Name</label>
                    <input name="FirstName" class="form-control" />
                    <div class="help-block with-errors"></div>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input name="LastName" class="form-control" />
                    <div class="help-block with-errors"></div>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Date of birth</label>
                    <input name="DateOfBirth" id="datepicker3" class="form-control" placeholder="YYYY-MM-DD" />
                    <div class="help-block with-errors"></div>
                    <span class="text-danger"></span>
                </div>
                <button type="button" class="btn btn-outline-Dark" id="secondMinusIcon" style="visibility:hidden" onclick="showHideAuthors(-2)"> <i class="bi bi-file-minus-fill"></i></button>
            </div>
         </div>
    </form>

</div>

<link href="~/css/literature.css" rel="stylesheet" />

<script>
    $('#datepicker1').datepicker({
        uiLibrary: 'bootstrap',
        format: 'yyyy-mm-dd',
        startDate: new Date('1991-01-01')
    });
    $('#datepicker2').datepicker({
        uiLibrary: 'bootstrap',
        format: 'yyyy-mm-dd',
        startDate: new Date('1991-01-01')
    });
    $('#datepicker3').datepicker({
        uiLibrary: 'bootstrap',
        format: 'yyyy-mm-dd',
        startDate: new Date('1991-01-01')
    });
    $('#datepicker4').datepicker({
        uiLibrary: 'bootstrap',
        format: 'yyyy-mm-dd'
    });
    function showHideAuthors(x) {

        if (x == 1) {
            document.getElementById("secondAuthor").style.visibility = "visible";
            document.getElementById("firstPlusIcon").style.visibility = "hidden";
            document.getElementById("secondPlusIcon").style.visibility = "visible";
            document.getElementById("firstMinusIcon").style.visibility = "visible";
            document.getElementById("secondAuthor").attributes["required"] = "required";
            document.getElementById("secondAuthor").attributes["data - error"] = "Please enter a name.";
        } else if (x == 2) {
            document.getElementById("thirdAuthor").style.visibility = "visible";
            document.getElementById("secondPlusIcon").style.visibility = "hidden";
            document.getElementById("firstMinusIcon").style.visibility = "hidden";
            document.getElementById("secondMinusIcon").style.visibility = "visible";
        }
        if (x == -1) {
            document.getElementById("secondAuthor").style.visibility = "hidden";
            document.getElementById("firstPlusIcon").style.visibility = "visible";
            document.getElementById("secondPlusIcon").style.visibility = "hidden";
            document.getElementById("firstMinusIcon").style.visibility = "hidden";
            document.getElementById("secondMinusIcon").style.visibility = "hidden";
        } else if (x == -2) {
            document.getElementById("thirdAuthor").style.visibility = "hidden";
            document.getElementById("secondPlusIcon").style.visibility = "visible";
            document.getElementById("secondMinusIcon").style.visibility = "hidden";
            document.getElementById("firstMinusIcon").style.visibility = "visible";
        }

    }

    function CleareTitleSpan() {
        //alert("test");
        document.getElementById("titleSpan").textContent = "";
        //document.getElementById("titleSpan").innerHTML = "";
        
    }
</script>
