@page
@inject LMSG3.Web.Services.ICourseSelectListService CourseListservice
@inject LMSG3.Web.Services.IUserRoleSelectListService RoleListservice
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FName" class="control-label"></label>
                <input asp-for="Input.FName" class="form-control" />
                <span asp-validation-for="Input.FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LName" class="control-label"></label>
                <input asp-for="Input.LName" class="form-control" />
                <span asp-validation-for="Input.LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.UserRole"></label>
                <select asp-for="Input.UserRole" asp-items="@RoleListservice.GetUserRole()" class="form-control" id="RoleList">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Input.UserRole" class="text-danger"></span>
            </div>

          
            <div class="form-group" id="Student"  style="display: none">
                <label asp-for="Input.CourseId"></label>
                <select asp-for="Input.CourseId" asp-items="@await CourseListservice.GetCourseAsync()" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>

                @*<span asp-validation-for="Input.CourseId" class="text-danger"></span>*@
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {

    <script>
        $(function () {
            $('#RoleList').change(function () {
                if ($('#RoleList').find(":selected").text()=="Student")
                  $('#Student').show();
                else
                  $('#Student').hide();
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />

}
