@inject LMSG3.Web.Services.IModuleSelectListService ModuleListservice
@inject LMSG3.Web.Services.IActivityTypeSelectListService ActivityTypeListservice
@model LMSG3.Core.Models.Entities.Activity

@{
    ViewData["Title"] = "Edit";
}

<h1>Update</h1>

<h4>Activity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control text-box single-line" data-val="true" id="ModuleName" autocomplete="off" style="width:70%" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label text-box single-line" data-val="true" id="ModuleName" autocomplete="off" style="width:70%"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control text-box single-line" data-val="true" id="ModuleName" autocomplete="off" style="width:70%" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control text-box single-line" data-val="true" id="ModuleName" autocomplete="off" style="width:70%" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Module" class="control-label"></label>
                <select asp-for="ModuleId" asp-items="@await ModuleListservice.GetModuleAsync()" class="form-control text-box single-line" data-val="true" id="ModuleName" autocomplete="off" style="width:70%">
                    <option value=""> Please select</option>
                </select>
                <span asp-validation-for="ModuleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityType" class="control-label text-box single-line" data-val="true" id="ModuleName" autocomplete="off" style="width:70%"></label>
                <select asp-for="ActivityTypeId" asp-items="@await ActivityTypeListservice.GetActivityTypeAsync()" class="form-control">
                    <option value=""> Please select</option>
                </select>
                <span asp-validation-for="ActivityTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Courses">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
