@inject LMSG3.Web.Services.ILiteratureSelectService service

@{
    ViewData["Title"] = "Literatures";
}

<h1><i class="bi bi-book-half"></i> Literatures</h1>

<form asp-action="Index" method="Get">
    <div class="form-row align-items-center">
        <div class="col-md-6">
            <input type="text" name="searchString" class="form-control" placeholder="Search literature..." aria-describedby="button-addon2">
        </div>
        <div class="col-md-3">
            <select asp-items="@await service.GetLiteratureLeves()" class="custom-select mr-sm-2" name="currentFilter">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="col-md-3">
            <input type="submit" value="Filter" id="button-addon2" class="btn btn-secondary mb-auto" />
        </div>
    </div>
</form>
<div class="form-row align-items-center col-md-12" style="margin-left:-17px;padding-top:26px">
    <!--<partial name="LiteratureStudentPartial" />-->
    <partial name="bokList" />
</div>
@*<script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/literature.js"></script>
    <link href="~/css/literature.css" rel="stylesheet" />*@
