
.form-group.position-relative input {
    padding-right: 32px;
}

.form-clear {
    align-items: center;
    background: #cecece;
    border-radius: 50%;
    bottom: 8px;
    color: rgba(0, 0, 0, .54);
    cursor: pointer;
    display: flex;
    height: 24px;
    justify-content: center;
    position: relative;
    right: 0;
    width: 24px;
    z-index: 10;
}

.form-text + .form-clear {
    bottom: calc(1rem + 18px);
}

.form-clear .material-icons {
    font-size: 16px;
    font-weight: 500;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v111/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    position:center;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


